.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 101;
}

.form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    min-width: 400px;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 14px;
    border-radius: 4px;
    color: #373866;
}

.form h1{
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin-bottom: 32px;
}

.inputDiv{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    height: 75px;
    margin-bottom: 5px;
}

.inputDiv label{
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 1;
    background-color: white;
    padding: 0 5px;
    margin: 0;
}

.inputDiv input{
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    color: black;
    background-color: white;
    border-color: #373866;
}

.inputDiv p{
    font-size: 14px;
    text-align: start;
    color: red;
    margin: 0;
    font-weight: 500;
}

.form button{
    font-size: 19px;
    font-weight: 500;
    padding: 7px 12px;
    margin-top: 10px;
    background-color: #373866;
    color: beige;
}

.form h4{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

.form h3{
    margin: 0;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.form span{
    position: absolute;
    display: flex;
    top: 2px;
    right: 2px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #373866;
}

.notificacionError{
    position: absolute;
    top: 4px;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.notificacionError p{
    margin: 0;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    padding: 3px 10px;
}