.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: 80vh;
    gap: 32px;
}

.container h1{
    margin-top: 140px;
    margin-bottom: 48px;
    font-size: 38px;
    color: #373866;
}

.panel{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    gap: 62px;
}

.navegaciones{
    display: flex;
}

.navegaciones button{
    background-color: #2275aa;
    color: white;
    width: 205px;
    height: 75px;
    border-radius: 4px;
    font-size: 19px;
    font-weight: 600;
    border: none;
}

.navegaciones button:hover{
    background-color: #094063;
}

.container img{
    width: 40px;
    align-self: flex-end;
    margin-top: 18%;
    margin-right: 2%;
}

.oculto{
    display: none;
}

/******************** media *******************/

@media (max-width: 768px) {
    .container{
        display: none;
    }
    .oculto{
        display:flex;
        box-sizing: border-box;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        padding: 200px 16px;
    }
}