.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.navegacion{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
}

.contenedor h2{
    margin: 0 0 24px;
}

.oculto{
    display: none;
}

.registro{
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 90%;
}

.formulario{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 16px;
}

.formulario label{
    font-size: 19px;
    font-weight: 600;
}

.formulario input{
    font-size: 18px;
    font-weight: 500;
    padding: 3px;
    text-align: center;
}

.formulario textarea{
    min-height: 150px;
    min-width: 300px;
    font-size: 16px;
    padding: 3px;
    margin-bottom: 16px;
}

.formulario button{
    margin: 16px;
    padding: 8px 16px;
    font-size: 19px;
    font-weight: 500;
    background-color: #e1dfdf;
}

/******************** lista *********************/


.registro section{
    width: 50%;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.caracteristicas{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    border-bottom: none;
    background-color: #e1dfdf;
}

.caracteristicas h4{
    font-size: 20px;
    margin: 0;
    padding: 4px 0;
    border: 1px solid black;
}

.registro section ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;

}

.registro section ul li{
    display: flex;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.registro section ul li h4{
    font-weight: 600;
    font-size: 19px;
}

/******************** media *******************/

@media (max-width: 768px) {
    .contenedor{
        display: none;
    }
    .oculto{
        display:flex;
        box-sizing: border-box;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        padding: 200px 16px;
    }
}