.itemId{
    width: 15%;
    margin: 0;
    border: 1px solid black;
    padding: 4px 0 0;
    box-sizing: border-box;
}

.nombreItem{
    width: 40%;
    padding: 4px 0 0; 
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
}

.eliminar{
    width: 45%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 4px 16px 0;
}

.eliminar h4{
    text-decoration: underline;
    color: rgb(6, 6, 187);
    margin: 0;
    cursor: pointer;
}