.divPrincipal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 96px;
    background: linear-gradient(rgb(246 248 253) 0%, rgb(246 248 253) 97%, white 100%);
}

.divImgBg{
    background-image: url(/Images/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imgBackground {
    position: absolute;
    left: 0;
    height: 500px;
}

.divPrincipal h2{
    font-size: 30px;
    font-weight: 600;
}

.divCategorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 96px 32px;
}

.divTituloCategorias{
    width: 90%;
}

.divTituloCategorias h2{
    text-align: end;
}

.divContenidoCategorias {
    max-width: 85%;
    padding: 32px;
    background-color: #e1dfdf;
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    gap: 40px;
}

.carddiv{
    display: flex;
    box-sizing: border-box;
}


.divRecomendados {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 32px;
    position: relative;
}

.Recomendados{
    display: grid;
    box-sizing: border-box;
    border: 1px solid black;
    width: 90%;
    min-width: 330px;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 16px;
    gap: 32px;
}

.divContenidoRecomendados_1{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.divContenidoRecomendados_2{
    position: absolute;
    top: 15px;
    right: 50px;
}

.imgrecomendados {
    max-width: 200px;
}

@media (max-width: 1024px) {

    .Recomendados{
        width: 95%;
    }

}


@media (max-width: 768px) {

    .divImgBg{
        height: 700px;
    }

    .divCategorias {
        margin-top: -80px;
    }

    .divRecomendados{
        width: 100%;
    }

    .divContenidoRecomendados{
        flex-direction: column;
        align-items: center;
    }

    .imgrecomendados, .divContenidoRecomendados_2 {
        visibility: hidden;
        height: 1px;
    }

    .divContenidoRecomendados_1{ 
        display: flex;
        justify-content: center;
    }

    .Recomendados {
        grid-template-columns: repeat(1, 1fr); 
        align-items: center;
    }

    .divContenidoCategorias_2, .imgCategorias {
        visibility: hidden;
        height: 1px;
    }

    .divContenidoCategorias{
        flex-direction: column; 
        align-items: center;
        height: auto;
    }

    .divContenidoCategorias_1{
        justify-content: center;
    }
    .divCategorias{
        margin-top: 0px;
        padding-top: 0px;
    }
}