.button{
    background-color: #B93442;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 90px;
    height: 35px;
    border-radius: 4px;
    border: none;
}

.button:hover{
    background-color: rgb(163, 28, 41);
}