.divPrincipal {
    width: 90%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.divContenido{
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, .5);
    padding: 8px 0;
    z-index: 10;
    border-radius: 2px;
}

.botonBuscar {
    background-color: #2275AA;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 16px;
}

.botonBuscar:hover {
    background-color: #76C5EC;
    color: black;
    cursor: pointer;
}

.categoria, .fechaInicio, .fechaFin {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.divContenido label{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.categoria select{
    align-self: center;
    width: 90%;
    max-width: 250px;
    font-size: 16px;
    padding: 2px;
}

.divContenido input{
    width: 90%;
    max-width: 250px;
    font-size: 16px;
    padding: 2px;
    text-align: center;
}

.resultadoBuscador{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
    background-color: rgb(0, 0, 0, .5);
    padding: 8px 0 16px;
    gap: 8px;
}

@keyframes opacidad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.resultadoBuscador .carddt:nth-child(2){
    animation: opacidad .2s ease 1;
}
.resultadoBuscador .carddt:nth-child(3){
    animation: opacidad .4s ease 1;
}
.resultadoBuscador .carddt:nth-child(4){
    animation: opacidad .6s ease 1;
}
.resultadoBuscador .carddt:nth-child(5){
    animation: opacidad .8s ease 1;
}
.resultadoBuscador .carddt:nth-child(6){
    animation: opacidad 1s ease 1;
}
.resultadoBuscador .carddt:nth-child(7){
    animation: opacidad 1.2s ease 1;
}
.resultadoBuscador .carddt:nth-child(8){
    animation: opacidad 1.4s ease 1;
}
.resultadoBuscador .carddt:nth-child(9){
    animation: opacidad 1.6s ease 1;
}
.resultadoBuscador .carddt:nth-child(10){
    animation: opacidad 1.8s ease 1;
}

.carddt{
    height: 110px;
    width: 100%;
    max-width: 350px;
}

/* .resultadoBuscador:last-child{
    display: none;
} */


@media (max-width: 1024px) {

    .divPrincipal{
        width: 95%;
    }
    .divContenido{
        width: 100%;
    }

    .categoria, .fechaInicio, .fechaFin {
        width: 100%;
        padding: 5px 0px;
        align-items: center;
    }

    .divContenido input{
        width: 210px;
        font-size: 18px;
    }

    .categoria select{
        width: 210px;
        font-size: 18px;
        text-align: center;
    }

    .resultadoBuscador{
        grid-template-columns: repeat(2, 1fr);
    }

    .carddt{
        height: 90px;
    }
}

@media (max-width: 768px){

    .divPrincipal{
        min-width: 380px;
        width: 70%;
    }

    .divContenido {
        flex-direction: column;
    }

    .divContenido input{
        width: 250px;
        font-size: 21px;
    }

    .categoria select{
        width: 250px;
        font-size: 21px;
    }

    .resultadoBuscador{
        grid-template-columns: 1fr;
    }
    .carddt{
        height: 50px;
    }
}