.cardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    color: white;
    border: 1px solid white;
    position: relative;
}

.imagen{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
}

.info{
    width: 100%;
    display: flex;
    z-index: 1;
    background: rgb(0, 0, 0,.2);
}

.nombre{
    font-size: 20px;
    margin: 0;
    position: absolute;
    left: 4px;
    top: 4px;
}

.disponible{
    font-size: 19px;
    color: rgb(0, 194, 0);
    border: 2px solid rgb(0, 194, 0);
    border-radius: 5px;
    margin: 0;
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 0 4px;
}