.card {
    display: flex;
    min-width: 300px;
    width: 100%;
    height: 100%;
    min-height: 45px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px #686868;
  }
  
  .divImagen {
    width: 55%;
    display: flex;
    justify-content: center;
  }
  
  .imagen {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.6/1;
    border-radius: 3px 0 0 3px;
  }

  
  .detalles {
    width: 45%; 
    padding: 5px 10px;
  }

  .detalle span {
    font-weight: 400;
    margin-left: 10px;
    line-height: 20px;
  }

  .categoria, .marca, .modelo, .detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  
  @media (max-width: 768px){

   /*  .imagen {
      width: 100%; 
      height: auto; 
      border-radius: 8px;
    } */

  }
 