.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 350px;
    height: 250px;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
  
.imagenCard {
    width: 100%;
    height: 100%;
}  

.tituloCategoriaCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: all .3s ease-in;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.head h3{
    margin: 0;
    position: absolute;
    left: 16px;
    top: 14px;
    color: #e1dfdf;
    font-size: 22px;
}

.head span{
  color: #e1dfdf;
}

.head h5{
  color: #e1dfdf;
  margin: 0;
  position: absolute;
  right: 16px;
  top: 19px;
}

.verMasCard:hover {
    background-color: #E1DFDF; 
    color: black;
}

.tituloCategoriaCard p{
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
}  