.categoriaDeVehiculo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    margin-bottom: 20px;
}

.seccionVehiculos{
    background-color: #76c5ec;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.seccionVehiculos ul{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}

.seccionVehiculos li{
    min-width: 430px;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.seccionVehiculos p{
    background-color: white;
}