.cartaDelVehiculo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 70vh;
    padding: 16px;
    background-color: #e1dfdf;
}

.definicion{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    margin-bottom: 16px;
}

.definicion div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: start;
    margin: 0;
}

.definicion h2{
    font-size: 32px;
    margin: 0;
}

.definicion h3{
    margin: 0;
}

.definicion span{
    cursor: pointer;
}

.cartaDelVehiculo section{
    
   
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 95%;
    padding: 6px;
    margin-bottom: 48px;
    align-self: center;
}

.imagenes{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.imgPrincipal{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.imgPrincipal img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1.2/1;
}

.imagenes article{
    display: grid;
    box-sizing: border-box;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    height: 100%;
    padding: 6px;
    gap: 6px;
    margin: 0;
    background-color: #e1dfdf;
}

.imagenes article img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1.2/1;
}

.imagenes h5{
    position: absolute;
    right: 0;
    bottom: -24px;
    margin: 0;
    z-index: 1;
    font-size: 14px;
}

.imagenes h5:hover{
    cursor: pointer;
}

.descripcion{
    width: 100%;
    margin: 32px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.descripcion p{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 24px;
    align-self: center;
}




.caracteristicas ul{
    display: flex;
   
    justify-content: space-around;
   align-items: center;
   list-style-type: none;
   margin: 15px;
   
}


.caracteristicas i{
   font-size: 30px;
}

.caracteristicas div{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    margin: 0;
    padding: 0; 
    
      
       
}

.caracteristicas ul section{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 200px;
    margin: 0;
    padding: 0; 
   
}    

.caracteristicas p{
    display: inline;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
/************************ queries ***********************/

@media (max-width: 1024px) {
    .imagenes{
        flex-direction: column;
    }
    .imgPrincipal{
        width: 100%;
        min-height: 75%;
    }
    .imagenes article{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .descripcion{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .imgPrincipal{
        width: 100%;
        min-height: 75%;
    }
    .imagenes article{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    .descripcion{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        padding: 16px 32px;
        gap: 16px;
    }
    .descripcion p{
        grid-row: 2/3;
    } 

    
    .caracteristicas{
       justify-content: center;
        margin: 0;
    }
    
    .caracteristicas i{
        font-size: 20px;
     }
    .caracteristicas div{
        display: flex;
        flex-direction: column;
        text-align: start;
        
        margin: 0;
        padding: 0; 
    }
    .caracteristicas ul section{
        display: flex;
        flex-direction: column;
        text-align: start;
       
        margin: 0;
        padding: 0; 
       
    }  
    .caracteristicas div p{
        font-size: 15px;
        margin: 5px;
        padding: 0;
    }
    .caracteristicas section p{
        font-size: 15px;
        margin: 5px;
        padding: 0;
    }
}