.estiloFooter{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 200px;
}

.logo{
    display: flex;
    flex-direction: column;

}
.contactenos{
    
    
 clear: both;

}
.contactenos div{
display: flex;
}

.contactenos section{
display: flex;
}


.seguinos img{
   
    width: 30px;
    height: 30px;
   
}



@media(max-width:768px){
    


    .estiloFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0px;
        width: 100%;
    }

    .logo p{
        display: none;
    }




}

