.estiloHeader{
    display: flex;   
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    background-color: white;
    color: #373866;
}

.imagenLogo{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 130px;
    align-items: center;
    position: relative;
    padding: 14px 24px 0px;
}
.imagenLogo .logoHeader{
    width: 160px;
    cursor: pointer;
}
.estiloHeader h2{
    max-width: 55%;
    font-size: 26px;
    margin: 0;
    text-wrap: pretty;
}
.estiloHeader h2:hover{
    cursor: pointer;
}

.estiloHeader section .usersIcons{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 4px;
    width: 170px;
}

.estiloHeader section div{
    display: flex;
    
}
.estiloHeader section img{
 width: 40px;
 cursor: default;
}

.estiloHeader section button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    text-align: start;
    color: #373866;
    font-size: 16px;
}

.estiloHeader section button:hover{
    color: #B93442;
}

.avatar{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-right: 12px;
}

.avatar h3{
    display: flex;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 255, 255,.8);
    color: #373866;
    padding: 14px;
    z-index: 3;
    box-shadow: 0 0 14px 2px #0013a3;
}

.avatar h3:hover{
    transform: scale(1.05);
}

.avatar .userOptions{
    position: absolute;
    top: 28px;
    right: 28px;
    min-width: 250px;
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    text-align: start;
    background-color: rgb(255, 255, 255,.9);
    border: 2px solid #e1dfdf;
    color: #373866;
    border-radius: 16px 36px 16px 16px;
    transition: all .1s ease-in-out;
    z-index: 2;
    padding-left: 16px;
}

.userOptions h4{
    font-size: 19px;
}

.userOptions h4:hover{
    background-color: rgb(55, 56, 102,.5);
    cursor: pointer;
}

.links {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 40px;
    padding: 0;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #373866;
}
.links a:hover{
    font-weight: 700;
}

.responsive{
    display: none;
}



@media(max-width:768px){

    .estiloHeader{
        height: 90px;
    }

    .imagenLogo{
        justify-content: start;
        padding: 14px 24px;
    }

    .imagenLogo .logoHeader{
        margin-left: 90px;
        width: 130px;
    }

    .avatar{
        position: absolute;
        right: 24px;
        top: 20px
    }

    .avatar h3{
        padding: 12px;
    }

    .avatar h3:hover{
        transform: scale(1);
    }

    .avatar .userOptions{
        top: -8px;
        right: -8px;
    }

    .avatar .userOptions h4{
        font-size: 21px;
    }

    .links{
        display: none;
    }

    .estiloHeader section .usersIcons{
        display: none;
    }
    
    .responsive{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      position: absolute;
      left: 34px;
      top: 19px;
      border-radius: 5px;
    }

    .burguer{
        background-color: white;
        box-shadow: 0 0 6px 0px #373866;
        cursor: pointer;
        padding: 14px;
        padding-bottom: 11px;
        border-radius: 5px;
    }
    .burguer i{
        color: #373866;
    }
    .elMenu{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0 0 5px 0px #373866;
        border-radius: 0 5px 0 0;
        margin-top: 3px;
        color: #373866;
    }
    
    .elMenu ul{
        min-width: 250px;
        box-sizing: border-box;
        list-style-type: none;
        padding: 0;
        text-align: start;
        background-color: rgb(255, 255, 255,.9);
        margin: 0;
        border-radius: 0 5px 0 0;
        transition: all .2s ease-in-out;
    }
    .elMenu h3{
        font-weight: 500;
        font-size: 26px;
        margin: 0;
        cursor: pointer;
    }
    .elMenu li{
        box-sizing: border-box;
        height: 45px;
        padding: 4px 18px;
    }
    .elMenu li:first-child{
        border-radius: 0 5px 0 0;
    }
    .elMenu li:hover{
        background-color: rgb(187, 187, 187)
    }
    .estiloHeader .usersIcons {
        display: none;
    }

    .estiloHeader h2{
        display: none;
    }



   

}









