.divPrincipal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    color: black;
}

.divTituloFlecha {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
}

.divPrincipal h2{
    margin: 0 0 24px;
}

.divCaracteristicas{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1vw 0;
}

.divCaracteristicas h4{
    margin: 0;
    padding: 4px 0 4px 14vw;
    width: 50%;
    height: 2.8vw;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    color: #5f5f5f;
}

.divCaracteristicas h3{
    margin: 0;
    padding: 4px 0;
    width: 50%;
    height: 2.8vw;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
}

.divNombre, .divApellido, .divEmail, .divRol {
    display: flex;
    flex-direction: row;

}

.avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    text-align: start;
    border: none;
    color: #373866;
    margin-bottom: 3vw;
}

.avatar h3{
    display: flex;
    margin: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255,.8);
    color: #373866;
    padding: 25px;
    z-index: 3;
    box-shadow: 0 0 14px 2px #0013a3;
}